:root {
  --body-text-color: #434455;
  --body-bg-color: #fff;
  --bright_text-color: #f4f4fd;
  --headings-color: #2e2f42;
  --primary-brand-color: #4d5ae5;
  --active-button-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
}

h2 {
  color: var(--headings-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h3 {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  color: var(--primary-brand-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--headings-color);
}

.footer-logo-accent {
  color: var(--bright_text-color);
}

.nav-link {
  color: var(--headings-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-button-color);
}

.address {
  color: var(--body-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address:hover,
.address:focus {
  color: var(--active-button-color);
}

.hero-section,
.footer {
  background-color: var(--headings-color);
}

.hero-title {
  color: var(--body-bg-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  color: var(--body-bg-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

/*Team-section*/

.team-section {
  background-color: var(--bright_text-color);
}

.team-list {
  background-color: var(--body-bg-color);
}

.footer-text {
  color: var(--bright_text-color);
}
