body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: Raleway;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}
